PORT=3000
JWT_SECRET=<enter_secret_for_jwt>
FALLBACK_HASH=<enter_valid_argon2_hash>

# pooled connection string
DATABASE_URL=<enter_pooled_db_connection_string>

# direct connection string for prisma CLI
DIRECT_URL=<enter_un-pooled_db_connection_string>
